<title>Register / The Ol'Tankard</title>

<body>

  <div class="section">

    <div class="container card mt-2">
      <div class="row card-container">
        <div class="col-md-6 mt-5">
          <div class="info info-horizontal info-hover-primary">
            <div class="description pl-4">

              <form action="/character-viewer" onsubmit="return false">

                <h5 class="title">Register</h5>
                <div class="form-group">
                  <label for="login-email">Email address</label>
                  <input type="email" class="form-control" id="login-email" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="register-password">Password</label>
                  <input type="password" class="form-control" id="register-password" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-lg btn-main btn-icon mt-1 mb-3 mb-sm-0" (click)="successAlert()">Register</button>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>
