button{
  margin-left: auto;
  margin-right: auto;
  background-color: #b71c1c;
  border-color: #b71c1c;
}
button:hover{
  background-color: grey;
  border-color: grey;
  color: black;
}

.border{
  margin-top: 2%;
  margin-left: 2vw;
  margin-right: 2vw;
  background-color: white;
  margin-bottom: 4%;
  border: 4px solid  #d32f2f;
}
th{
  background-color: #b71c1c;
  color: white;
  border-color:#b71c1c ;
  font-family: Open Sans, sans-serif;
}
td{
  font-family: Open Sans, sans-serif;
}
h2{
  color: #b71c1c;
  margin-left: 2vw;
  margin-right: 2vw;
  border: 3px solid black;
  margin-top: 8%;
}
.contenidor-titolarticle {
  display: flex;
  width:60%;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: -2vh;
  flex-flow: wrap;
  margin-bottom: 5vh;
}

.contenidor-titolarticle > h1 {
  color: white;
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: auto;
  font-family: Open Sans, sans-serif;
  font-size: 3vw;
  margin-top: 2%;
  margin-bottom: 1%;
}
.linkbutton{
  color: white;
  text-decoration: none;
  position: absolute;
  margin-top: -10vh;
  margin-left: 2vw;
  font-style: normal;
  font-weight: bold;
  line-height: 14px;
  min-width: 150px;
  padding: 1%;
  text-transform: uppercase;
  transition: all .15s ease;
  font-size: 2vw;
  border-radius: 25px;
  text-align: center;
}

.linkbutton:hover{
  background-color: white;
  color: #d32f2f;
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
  cursor: pointer;
}

body{
  background-color: #d32f2f;
  padding-top: 3vh;
  padding-bottom: 2vh;
}


