<body>
<div class="panel panel-primary">
  <div class="contenidor-titolarticle">
    <h1>Monsters</h1>
  </div>
  <a class="linkbutton" href="/menuprincipal-master">Back</a>
  <div class="border">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Armor Class</th>
          <th>Hit Points</th>
          <th>Attack</th>
          <th>Speed</th>
          <th>Strength</th>
          <th>Dexterity</th>
          <th>Constitution</th>
          <th>Intellect</th>
          <th>Wisdom</th>
          <th>Charisma</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let monsters of monsters | async">
          <td>{{monsters.name}}</td>
          <td>{{monsters.description}}</td>
          <td>{{monsters.armorClass}}</td>
          <td>{{monsters.hitPoints}}</td>
          <td>{{monsters.attack}}</td>
          <td>{{monsters.speed}}</td>
          <td>{{monsters.str}}</td>
          <td>{{monsters.dex}}</td>
          <td>{{monsters.con}}</td>
          <td>{{monsters.inte}}</td>
          <td>{{monsters.wis}}</td>
          <td>{{monsters.cha}}</td>
          <td>
            <button (click)="confirmacionDelete(monsters.id)" class="btn btn-danger">Delete</button>
            <button (click)="updateMonsters(monsters.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
        </td>
        </tr>
        <tr>
          <td>
            <button (click)="gotoCreate()" class="btn btn-danger">Create a new Monster</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
