.contenidor-titolarticle {
  display: flex;
  width:60%;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: -2vh;
  flex-flow: wrap;
  margin-bottom: 5vh;
}

.contenidor-titolarticle > h1 {
  color: white;
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: auto;
  font-family: Open Sans, sans-serif;
  font-size: 3vw;
  margin-top: 2%;
  margin-bottom: 1%;
}

.panel{
  margin-top: 10vh;
}
.col-3{
  border: 10px solid  white;
  border-radius: 25px;
  text-align: center;
  padding: 5vw;
  background-color:  #b71c1c;
  color: white;
  font-size: 180%;
}
.row{
  background-color: white;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  padding: 5%;
  border-radius: 25px;
}
.hoverdiv:hover{
  border-color: #F1F1F1;
  transform: translateY(-3px);
  cursor: pointer;
}
.newNote{
  border-color: #b71c1c;
  background-color: white;
  color: #b71c1c;
}

.newNote:hover{
  transform: translateY(-3px);
  cursor: pointer;
}
.divbasura{
  position: absolute;
  margin-left: -4vw;
  margin-top: -4vw;
}
.divbasura:hover{
  position: absolute;
  transform: translateY(-3px);
}
.linkbutton{
  color: white;
  text-decoration: none;
  position: absolute;
  margin-top: -10vh;
  margin-left: 5vw;
  font-style: normal;
  font-weight: bold;
  line-height: 14px;
  min-width: 150px;
  padding: 1%;
  text-transform: uppercase;
  transition: all .15s ease;
  font-size: 2vw;
  border-radius: 25px;
  text-align: center;
}

.linkbutton:hover{
  background-color: white;
  color: #d32f2f;
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
  cursor: pointer;
}

body{
  background-color: #d32f2f;
  padding-top: 3vh;
  padding-bottom: 2vh;
}
