.red {
  background: red;
}

.blue {
  background: blue;
}

.hide {
  display: none !important;
}

header {
  margin-top: 4vw;
}

body {
  background-color: #d32f2f;
}

textarea {
  font-size: 12px;
  text-align: left;
  width: calc(100% - 20px - 2px);
  border-radius: 10px;
  padding: 10px;
  resize: none;
  overflow: hidden;
  height: 15em;
}

input[type="checkbox"] {
  cursor: pointer;
}

div.box {
  margin-top: 10px;
}

form.charsheet {
  width: 900px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1vw;
  background-color: white;
}
form.charsheet div.textblock {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
  width: 100%;
  -webkit-box-align: center;
          align-items: center;
}
form.charsheet div.textblock label {
  text-align: center;
  border: 1px solid black;
  border-top: 0;
  font-size: 10px;
  width: calc(100% - 20px - 2px);
  border-radius: 0 0 10px 10px;
  padding: 4px 0;
  font-weight: bold;
}
form.charsheet div.textblock textarea {
  border: 1px solid black;
}
form.charsheet ul {
  margin: 0;
  padding: 0;
}
form.charsheet ul li {
  list-style-image: none;
  display: block;
}
form.charsheet ::-webkit-input-placeholder {
  color: #bbb;
}
form.charsheet ::-moz-placeholder {
  color: #bbb;
}
form.charsheet :-ms-input-placeholder {
  color: #bbb;
}
form.charsheet ::-ms-input-placeholder {
  color: #bbb;
}
form.charsheet ::placeholder {
  color: #bbb;
}
form.charsheet label {
  text-transform: uppercase;
  font-size: 12px;
}
form.charsheet header {
  display: -webkit-box;
  display: flex;
  align-content: stretch;
  -webkit-box-align: stretch;
          align-items: stretch;
}
form.charsheet header section.charname {
  border: 1px solid black;
  border-right: 0;
  border-radius: 10px 0 0 10px;
  padding: 5px 0;
  background-color: #eee;
  width: 30%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
  bottom: 0;
  top: 0;
  margin: auto;
  margin-left: 1vw;
}
form.charsheet header section.charname input {
  padding: 0.5em;
  margin: 5px;
  border: 0;
}
form.charsheet header section.charname label {
  padding-left: 1em;
}
form.charsheet header section.misc {
  width: 70%;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 1vw;
}
form.charsheet header section.misc ul {
  padding: 10px 0px 5px 0px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
form.charsheet header section.misc ul li {
  width: 33.33333%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
}
form.charsheet header section.misc ul li label {
  margin-bottom: 5px;
}
form.charsheet header section.misc ul li input {
  border: 0;
  border-bottom: 1px solid #ddd;
}
form.charsheet main {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
form.charsheet main div.label-container {
  position: relative;
  width: 100%;
  height: 18px;
  margin-top: 6px;
  border: 1px solid black;
  border-left: 0;
  text-align: center;
}
form.charsheet main div.label-container > label {
  position: absolute;
  left: 0;
  top: 1px;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
  width: 100%;
  font-size: 8px;
}
form.charsheet main > section {
  width: 32%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
form.charsheet main > section section.attributes {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
form.charsheet main > section section.attributes div.scores {
  width: 101px;
  margin-left: 1vw;
  background-color: #bbb;
  border-radius: 10px;
  padding-bottom: 20px;
}
form.charsheet main > section section.attributes div.scores label {
  font-size: 8px;
  font-weight: bold;

}
form.charsheet main > section section.attributes div.scores ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  height: 100%;

}
form.charsheet main > section section.attributes div.scores ul li {
  height: 80px;
  width: 70px;
  background-color: white;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
form.charsheet main > section section.attributes div.scores ul li input {
  width: 100%;
  padding: 0;
  border: 0;
}
form.charsheet main > section section.attributes div.scores ul li div.score input {
  text-align: center;
  font-size: 40px;
  padding: 2px 0px 0px 0px;
  background: white;
}
form.charsheet main > section section.attributes div.scores ul li div.modifier {
  margin-bottom: 1vw;
}
form.charsheet main > section section.attributes div.scores ul li div.modifier input {
  background: white;
  width: 30px;
  height: 20px;
  border: 1px inset black;
  border-radius: 20px;
  margin: -1px;
  text-align: center;
}
form.charsheet main > section section.attributes div.attr-applications div.inspiration {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
form.charsheet main > section section.attributes div.attr-applications div.inspiration input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
}
form.charsheet main > section section.attributes div.attr-applications div.proficiencybonus {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
form.charsheet main > section section.attributes div.attr-applications div.proficiencybonus input {
  width: 30px;
  height: 28px;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
}
form.charsheet main > section section.attributes div.attr-applications div.list-section {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 5px;
}
form.charsheet main > section section.attributes div.attr-applications div.list-section div.label {
  margin-top: 10px;
  margin-bottom: 2.5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}
form.charsheet main > section section.attributes div.attr-applications div.list-section ul li {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
form.charsheet main > section section.attributes div.attr-applications div.list-section ul li > * {
  margin-left: 5px;
}
form.charsheet main > section section.attributes div.attr-applications div.list-section ul li label {
  text-transform: none;
  font-size: 8px;
  text-align: left;
  -webkit-box-ordinal-group: 4;
          order: 3;
}
form.charsheet main > section section.attributes div.attr-applications div.list-section ul li label span.skill {
  color: #bbb;
}
form.charsheet main > section section.attributes div.attr-applications div.list-section ul li input[type="text"] {
  width: 30px;
  font-size: 12px;
  text-align: center;
  border: 0;
  border-bottom: 1px solid black;
  -webkit-box-ordinal-group: 3;
          order: 2;
}
form.charsheet main > section section.attributes div.attr-applications div.list-section ul li input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-box-ordinal-group: 2;
          order: 1;
}
form.charsheet main > section section.attributes div.attr-applications div.list-section ul li input[type="checkbox"]:checked {
  background-color: black;
}
form.charsheet main > section div.passive-perception {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
          justify-content: flex-end;
          margin-left: 1vw;
          margin-right: 1vw;
          margin-top: 1vw;
}
form.charsheet main > section div.passive-perception input {
  width: 30px;
  height: 28px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}
form.charsheet main > section div.otherprofs textarea {
  height: 26em;
}
form.charsheet main section.combat {
  background-color: #eee;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}
form.charsheet main section.combat > div {
  overflow: hidden;
}
form.charsheet main section.combat > div.armorclass, form.charsheet main section.combat > div.initiative, form.charsheet main section.combat > div.speed {
  flex-basis: 33.333%;
}
form.charsheet main section.combat > div.armorclass > div, form.charsheet main section.combat > div.initiative > div, form.charsheet main section.combat > div.speed > div {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 10px;
}
form.charsheet main section.combat > div.armorclass > div label, form.charsheet main section.combat > div.initiative > div label, form.charsheet main section.combat > div.speed > div label {
  font-size: 8px;
  width: 50px;
  border: 1px solid black;
  border-top: 0;
  background-color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0 0 10px 10px;
}
form.charsheet main section.combat > div.armorclass > div input, form.charsheet main section.combat > div.initiative > div input, form.charsheet main section.combat > div.speed > div input {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
form.charsheet main section.combat > div.hp {
  flex-basis: 100%;
}
form.charsheet main section.combat > div.hp > div.regular {
  background-color: white;
  border: 1px solid black;
  margin: 10px;
  margin-bottom: 5px;
  border-radius: 10px 10px 0 0;
}
form.charsheet main section.combat > div.hp > div.regular > div.max {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: baseline;
          align-items: baseline;
}
form.charsheet main section.combat > div.hp > div.regular > div.max label {
  font-size: 10px;
  text-transform: none;
  color: #bbb;
}
form.charsheet main section.combat > div.hp > div.regular > div.max input {
  width: 40%;
  border: 0;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  text-align: center;
}
form.charsheet main section.combat > div.hp > div.regular > div.current {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
}
form.charsheet main section.combat > div.hp > div.regular > div.current input {
  border: 0;
  width: 100%;
  padding: 1em 0;
  font-size: 20px;
  text-align: center;
}
form.charsheet main section.combat > div.hp > div.regular > div.current label {
  font-size: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
}
form.charsheet main section.combat > div.hp > div.temporary {
  margin: 10px;
  margin-top: 0;
  border: 1px solid black;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
  background-color: white;
}
form.charsheet main section.combat > div.hp > div.temporary input {
  padding: 1em 0;
  font-size: 20px;
  border: 0;
  text-align: center;
}
form.charsheet main section.combat > div.hp > div.temporary label {
  font-size: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
}
form.charsheet main section.combat > div.hitdice, form.charsheet main section.combat > div.deathsaves {
  -webkit-box-flex: 1;
          flex: 1 50%;
  height: 100px;
}
form.charsheet main section.combat > div.hitdice > div, form.charsheet main section.combat > div.deathsaves > div {
  height: 80px;
}
form.charsheet main section.combat > div.hitdice > div {
  background-color: white;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
form.charsheet main section.combat > div.hitdice > div > div.total {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: baseline;
          align-items: baseline;
  justify-content: space-around;
  padding: 5px 0;
}
form.charsheet main section.combat > div.hitdice > div > div.total label {
  font-size: 10px;
  color: #bbb;
  margin: 0.25em;
  text-transform: none;
}
form.charsheet main section.combat > div.hitdice > div > div.total input {
  font-size: 12px;
  -webkit-box-flex: 1;
          flex-grow: 1;
  border: 0;
  border-bottom: 1px solid #ddd;
  width: 50%;
  margin-right: 0.25em;
  padding: 0 0.25em;
  text-align: center;
}
form.charsheet main section.combat > div.hitdice > div > div.remaining {
  -webkit-box-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
}
form.charsheet main section.combat > div.hitdice > div > div.remaining label {
  text-align: center;
  padding: 2px;
  font-size: 10px;
}
form.charsheet main section.combat > div.hitdice > div > div.remaining input {
  text-align: center;
  border: 0;
  -webkit-box-flex: 1;
          flex: 1;
}
form.charsheet main section.combat > div.deathsaves > div {
  margin: 10px;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
}
form.charsheet main section.combat > div.deathsaves > div > div.label {
  text-align: center;
}
form.charsheet main section.combat > div.deathsaves > div > div.label label {
  font-size: 10px;
}
form.charsheet main section.combat > div.deathsaves > div > div.marks {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}
form.charsheet main section.combat > div.deathsaves > div > div.marks div.deathsuccesses, form.charsheet main section.combat > div.deathsaves > div > div.marks div.deathfails {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
form.charsheet main section.combat > div.deathsaves > div > div.marks div.deathsuccesses label, form.charsheet main section.combat > div.deathsaves > div > div.marks div.deathfails label {
  font-size: 8px;
  text-align: right;
  -webkit-box-flex: 1;
          flex: 1 50%;
}
form.charsheet main section.combat > div.deathsaves > div div.bubbles {
  -webkit-box-flex: 1;
          flex: 1 40%;
  margin-left: 5px;
}
form.charsheet main section.combat > div.deathsaves > div div.bubbles input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
form.charsheet main section.combat > div.deathsaves > div div.bubbles input[type="checkbox"]:checked {
  background-color: black;
}
form.charsheet main section.attacksandspellcasting {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}
form.charsheet main section.attacksandspellcasting > div {
  margin: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
form.charsheet main section.attacksandspellcasting > div > label {
  -webkit-box-ordinal-group: 4;
          order: 3;
  text-align: center;
}
form.charsheet main section.attacksandspellcasting > div > table {
  width: 100%;
}
form.charsheet main section.attacksandspellcasting > div > table th {
  font-size: 10px;
  color: #ddd;
}
form.charsheet main section.attacksandspellcasting > div > table input {
  width: calc(100% - 4px);
  border: 0;
  background-color: #eee;
  font-size: 10px;
  padding: 3px;
}
form.charsheet main section.attacksandspellcasting > div textarea {
  border: 0;
}
form.charsheet main section.equipment {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}
form.charsheet main section.equipment > div {
  padding: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
}
form.charsheet main section.equipment > div > div.money ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 100%;
}
form.charsheet main section.equipment > div > div.money ul > li {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
form.charsheet main section.equipment > div > div.money ul > li label {
  border: 1px solid black;
  border-radius: 10px 0 0 10px;
  border-right: 0;
  width: 20px;
  font-size: 8px;
  text-align: center;
  padding: 3px 0;
}
form.charsheet main section.equipment > div > div.money ul > li input {
  border: 1px solid black;
  border-radius: 10px;
  width: 40px;
  padding: 10px 3px;
  font-size: 12px;
  text-align: center;
}
form.charsheet main section.equipment > div > label {
  -webkit-box-ordinal-group: 4;
          order: 3;
  text-align: center;
  -webkit-box-flex: 100%;
          flex: 100%;
}
form.charsheet main section.equipment > div > textarea {
  -webkit-box-flex: 1;
          flex: 1;
  border: 0;
}
form.charsheet main section.flavor {
  padding: 10px;
  background: #bbb;
  border-radius: 10px;
  margin-right: 1vw;
}
form.charsheet main section.flavor div {
  background: white;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
  padding: 5px;
  border: 1px solid black;
}
form.charsheet main section.flavor div label {
  text-align: center;
  font-size: 10px;
  margin-top: 3px;
}
form.charsheet main section.flavor div textarea {
  border: 0;
  border-radius: 0;
  height: 4em;
}
form.charsheet main section.flavor div:first-child {
  border-radius: 10px 10px 0 0;
}
form.charsheet main section.flavor div:not(:first-child) {
  margin-top: 10px;
}
form.charsheet main section.flavor div:last-child {
  border-radius: 0 0 10px 10px;
}
form.charsheet main section.features {
  padding: 10px;
}
form.charsheet main section.features div {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
}
form.charsheet main section.features div label {
  text-align: center;
}
form.charsheet main section.features div textarea {
  border: 0;
  padding: 5px;
  height: 84em;
}
.h1bottom {
  font-style: normal;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  line-height: 14px;
  min-width: 150px;
  width: 10%;
  text-align: center;
  vertical-align: middle;
  padding: 1vw;
  text-transform: uppercase;
  transition: all .15s ease;
  font-size: 2vw;
  border-radius: 25px;
  margin-top: -2vh;
  margin-bottom: 3vh;
  color: #d32f2f;
  margin-top: 3%;
  margin-left: 28% ;
  width: 20vw;
  justify-content: center;
}

.h1bottom:hover {
  background-color: white;
  color: #d32f2f;
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-4px);
  cursor: pointer;
}

button{
  text-align: center;
  background-color: white;
  border-color: #d32f2f;
}

#colorfons{
  background-color: #d32f2f;
}
