<html>
<body>
<form (ngSubmit)="onSubmit()" class="charsheet">
  <header>
    <section class="charname">
      <label for="charname">Character Name</label><input name="name" [(ngModel)]="character.name" />
    </section>
    <section class="misc">
      <ul>
        <li>
          <label for="classlevel">Class</label><input name="clase" [(ngModel)]="character.clase" />
        </li>
        <li>
          <label for="background">Subclass</label><input name="subclass" [(ngModel)]="character.subclass" />
        </li>
        <li>
          <label for="playername">Background</label><input name="background" [(ngModel)]="character.background">
        </li>
        <li>
          <label for="race">Race</label><input name="race" [(ngModel)]="character.race" />
        </li>
        <li>
          <label for="alignment">Alignment</label><input name="alignment" [(ngModel)]="character.alignment" />
        </li>
        <li>
          <label for="experiencepoints">Experience Points</label><input name="experiencepoints" />
        </li>
      </ul>
    </section>
  </header>
  <main>
    <section>
      <section class="attributes">
        <div class="scores">
          <ul>
            <li>
              <div class="score">
                <label for="Strengthscore">Strength</label><input name="str" [(ngModel)]="character.str" />
              </div>
              <div class="modifier">
                <input name="Strengthmod" id="Strengthmod" placeholder={{sacarMedia(str)}}  />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Dexterityscore">Dexterity</label><input name="dex" [(ngModel)]="character.dex" />
              </div>
              <div class="modifier">
                <input name="Dexteritymod" placeholder={{sacarMedia(dex)}} />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Constitutionscore">Constitution</label><input name="con" [(ngModel)]="character.con" />
              </div>
              <div class="modifier">
                <input name="Constitutionmod" placeholder={{sacarMedia(con)}} />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Wisdomscore">Wisdom</label><input name="wis" [(ngModel)]="character.wis" />
              </div>
              <div class="modifier">
                <input name="Wisdommod" placeholder={{sacarMedia(wis)}} />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Intelligencescore">Intelligence</label><input name="inte" [(ngModel)]="character.inte" />
              </div>
              <div class="modifier">
                <input name="Intelligencemod" placeholder={{sacarMedia(inte)}} />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Charismascore">Charisma</label><input name="cha" [(ngModel)]="character.cha" />
              </div>
              <div class="modifier">
                <input name="Charismamod" placeholder={{sacarMedia(cha)}}  />
              </div>
            </li>
          </ul>
        </div>
        <div class="attr-applications">
          <div class="inspiration box">
            <div class="label-container">
              <label for="inspiration">Inspiration</label>
            </div>
            <input name="inspiration" type="checkbox" />
          </div>
          <div class="proficiencybonus box">
            <div class="label-container">
              <label for="proficiencybonus">Proficiency Bonus</label>
            </div>
            <input name="proficiencybonus" placeholder="+2" />
          </div>
          <div class="saves list-section box">
            <ul>
              <li>
                <label for="savingstr">Strength</label><input name="savingstr" [(ngModel)]="character.savingstr" type="text" /><input name="Strength-save-prof" type="checkbox" />
              </li>
              <li>
                <label for="savingdex">Dexterity</label><input name="savingdex" [(ngModel)]="character.savingdex" type="text" /><input name="Dexterity-save-prof" type="checkbox" />
              </li>
              <li>
                <label for="savingcon">Constitution</label><input name="savingcon" [(ngModel)]="character.savingcon" type="text" /><input name="Constitution-save-prof" type="checkbox" />
              </li>
              <li>
                <label for="savingwis">Wisdom</label><input name="savingwis" [(ngModel)]="character.savingwis" type="text" /><input name="Wisdom-save-prof" type="checkbox" />
              </li>
              <li>
                <label for="savinginte">Intelligence</label><input name="savinginte" [(ngModel)]="character.savinginte" type="text" /><input name="Intelligence-save-prof" type="checkbox" />
              </li>
              <li>
                <label for="savingcha">Charisma</label><input name="savingcha" [(ngModel)]="character.savingcha" type="text" /><input name="Charisma-save-prof" type="checkbox" />
              </li>
            </ul>
            <div class="label">
              Saving Throws
            </div>
          </div>
          <div class="skills list-section box">
            <ul>
              <li>
                <label for="Acrobatics">Acrobatics <span class="skill">(Dex)</span></label><input name="acrobatics" [(ngModel)]="character.acrobatics" type="text" /><input name="Acrobatics-prof" type="checkbox" />
              </li>
              <li>
                <label for="Animal Handling">Animal Handling <span class="skill">(Wis)</span></label><input name="animalhandling" [(ngModel)]="character.animalhandling" type="text" /><input name="Animal Handling-prof" type="checkbox" />
              </li>
              <li>
                <label for="Arcana">Arcana <span class="skill">(Int)</span></label><input name="arcana" [(ngModel)]="character.arcana" type="text" /><input name="Arcana-prof" type="checkbox" />
              </li>
              <li>
                <label for="Athletics">Athletics <span class="skill">(Str)</span></label><input name="Athletics" [(ngModel)]="character.athletics" type="text" /><input name="Athletics-prof" type="checkbox" />
              </li>
              <li>
                <label for="Deception">Deception <span class="skill">(Cha)</span></label><input name="deception" [(ngModel)]="character.deception" type="text" /><input name="Deception-prof" type="checkbox" />
              </li>
              <li>
                <label for="History">History <span class="skill">(Int)</span></label><input name="history" [(ngModel)]="character.history" type="text" /><input name="History-prof" type="checkbox" />
              </li>
              <li>
                <label for="Insight">Insight <span class="skill">(Wis)</span></label><input name="insight" [(ngModel)]="character.insight" type="text" /><input name="Insight-prof" type="checkbox" />
              </li>
              <li>
                <label for="Intimidation">Intimidation <span class="skill">(Cha)</span></label><input name="intimidation" [(ngModel)]="character.intimidation" type="text" /><input name="Intimidation-prof" type="checkbox" />
              </li>
              <li>
                <label for="Investigation">Investigation <span class="skill">(Int)</span></label><input name="investigation" [(ngModel)]="character.investigation" type="text" /><input name="Investigation-prof" type="checkbox" />
              </li>
              <li>
                <label for="Medicine">Medicine <span class="skill">(Wis)</span></label><input name="medicine" [(ngModel)]="character.medicine" type="text" /><input name="Medicine-prof" type="checkbox" />
              </li>
              <li>
                <label for="Nature">Nature <span class="skill">(Int)</span></label><input name="nature" [(ngModel)]="character.nature" type="text" /><input name="Nature-prof" type="checkbox" />
              </li>
              <li>
                <label for="Perception">Perception <span class="skill">(Wis)</span></label><input name="perception" [(ngModel)]="character.perception" type="text" /><input name="Perception-prof" type="checkbox" />
              </li>
              <li>
                <label for="Performance">Performance <span class="skill">(Cha)</span></label><input name="performance" [(ngModel)]="character.performance" type="text" /><input name="Performance-prof" type="checkbox" />
              </li>
              <li>
                <label for="Persuasion">Persuasion <span class="skill">(Cha)</span></label><input name="persuasion" [(ngModel)]="character.persuasion" type="text" /><input name="Persuasion-prof" type="checkbox" />
              </li>
              <li>
                <label for="Religion">Religion <span class="skill">(Int)</span></label><input name="religion" [(ngModel)]="character.religion" type="text" /><input name="Religion-prof" type="checkbox" />
              </li>
              <li>
                <label for="Sleight of Hand">Sleight of Hand <span class="skill">(Dex)</span></label><input name="sleightofhand" [(ngModel)]="character.sleightofhand" type="text" /><input name="Sleight of Hand-prof" type="checkbox" />
              </li>
              <li>
                <label for="Stealth">Stealth <span class="skill">(Dex)</span></label><input name="stealth" [(ngModel)]="character.stealth" type="text" /><input name="Stealth-prof" type="checkbox" />
              </li>
              <li>
                <label for="Survival">Survival <span class="skill">(Wis)</span></label><input name="survival" [(ngModel)]="character.survival" type="text" /><input name="Survival-prof" type="checkbox" />
              </li>
            </ul>
            <div class="label">
              Skills
            </div>
          </div>
        </div>
      </section>
      <div class="passive-perception box">
        <div class="label-container">
          <label for="passiveperception">Passive Wisdom (Perception)</label>
        </div>
        <input name="passwis" [(ngModel)]="character.passwis" />
      </div>
      <div class="otherprofs box textblock">
        <label for="otherprof">Other Proficiencies and Languages</label><textarea [(ngModel)]="character.otherprof" name="otherprof"></textarea>
      </div>
    </section>
    <section>
      <section class="combat">
        <div class="armorclass">
          <div>
            <label for="ac">Armor Class</label><input name="armoclass" [(ngModel)]="character.armorclass" type="text" />
          </div>
        </div>
        <div class="initiative">
          <div>
            <label for="initiative">Initiative</label><input name="initiative" [(ngModel)]="character.initiative" type="text" />
          </div>
        </div>
        <div class="speed">
          <div>
            <label for="speed">Speed</label><input name="speed" [(ngModel)]="character.speed" type="text" />
          </div>
        </div>
        <div class="hp">
          <div class="regular">
            <div class="max">
              <label for="maxhp">Hit Point Maximum</label><input name="hitmax" [(ngModel)]="character.hitmax" type="text" />
            </div>
            <div class="current">
              <label for="currenthp">Current Hit Points</label><input name="currhit" [(ngModel)]="character.currhit" type="text" />
            </div>
          </div>
          <div class="temporary">
            <label for="temphp">Temporary Hit Points</label><input name="temphit" [(ngModel)]="character.temphit" type="text" />
          </div>
        </div>
        <div class="hitdice">
          <div>
            <div class="total">
              <label for="totalhd">Total</label><input name="totalhd" placeholder="2d10" type="text" />
            </div>
            <div class="remaining">
              <label for="remaininghd">Hit Dice</label><input name="hitdice" [(ngModel)]="character.hitdice" type="text" />
            </div>
          </div>
        </div>
        <div class="deathsaves">
          <div>
            <div class="label">
              <label>Death Saves</label>
            </div>
            <div class="marks">
              <div class="deathsuccesses">
                <label>Successes</label>
                <div class="bubbles">
                  <input name="deathsuccess1" type="checkbox" />
                  <input name="deathsuccess2" type="checkbox" />
                  <input name="deathsuccess3" type="checkbox" />
                </div>
              </div>
              <div class="deathfails">
                <label>Failures</label>
                <div class="bubbles">
                  <input name="deathfail1" type="checkbox" />
                  <input name="deathfail2" type="checkbox" />
                  <input name="deathfail3" type="checkbox" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="attacksandspellcasting">
        <div>
          <label>Attacks & Spellcasting</label>
          <table>
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Atk Bonus
                </th>
                <th>
                  Damage/Type
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input name="atkname1" type="text" />
                </td>
                <td>
                  <input name="atkbonus1" type="text" />
                </td>
                <td>
                  <input name="atkdamage1" type="text" />
                </td>
              </tr>
              <tr>
                <td>
                  <input name="atkname2" type="text" />
                </td>
                <td>
                  <input name="atkbonus2" type="text" />
                </td>
                <td>
                  <input name="atkdamage2" type="text" />
                </td>
              </tr>
              <tr>
                <td>
                  <input name="atkname3" type="text" />
                </td>
                <td>
                  <input name="atkbonus3" type="text" />
                </td>
                <td>
                  <input name="atkdamage3" type="text" />
                </td>
              </tr>
            </tbody>
          </table>
          <textarea name="attspell" [(ngModel)]="character.attspell"></textarea>
        </div>
      </section>
      <section class="equipment">
        <div>
          <label>Equipment</label>
          <div class="money">
            <ul>
              <li>
                <label for="cp">cp</label><input name="cp" />
              </li>
              <li>
                <label for="sp">sp</label><input name="sp" />
              </li>
              <li>
                <label for="ep">ep</label><input name="ep" />
              </li>
              <li>
                <label for="gp">gp</label><input name="gp" />
              </li>
              <li>
                <label for="pp">pp</label><input name="pp" />
              </li>
            </ul>
          </div>
          <textarea placeholder="Equipment list here" [(ngModel)]="character.equip" name="equip" ></textarea>
        </div>
      </section>
    </section>
    <section>
      <section class="features">
        <div>
          <label for="features">Features & Traits</label><textarea [(ngModel)]="character.feature" name="feature"></textarea>
        </div>
      </section>
    </section>
  </main>
  <div class="contenidor-bottompage" id="colorfons">
    <button type="submit" class="h1bottom" (click)="showMessage()">Update</button>
  </div>
</form>
</body>
</html>
