<html>
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css2?family=Sintony&display=swap" rel="stylesheet">
 <meta charset="utf-8">
<title>Dices / The Ol'Tankard</title>
</head>
<body>
  <div class="contenidor-titolarticle">
    <h1>Throw a dice!</h1>
    </div>
    <div class="contenidor-article">
    <div id="box-joc">
    <button (click)="dice1d4()">1D4</button>
    </div>
    <div id="box-joc">
    <button (click)="dice1d6()">1D6</button>
    </div>
    <div id="box-joc">
    <button (click)="dice1d8()">1D8</button>
    </div>
    <div id="box-joc">
    <button (click)="dice1d12()">1D12</button>
    </div>
    <div id="box-joc">
    <button (click)="dice1d20()">1D20</button>
    </div>
    <div id="box-joc">
    <button (click)="dice1d100()">1D100</button>
    </div>
    </div>
    <div class="contenidor-middle">
      <div class="divBoton">
      <h2 class="number1d4 number1d6 number1d8 number1d12 number1d20 number1d100"></h2>
    </div>
      </div>
    <div class="contenidor-bottompage">
      <h1 class="h1bottom"><a href="/menuprincipal-player">Back</a></h1>
      </div>
</body>
</html>
