/* Flex principa */

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

body {
  background-color: #d32f2f;
}

.contenidor-article {
  text-align: center;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}


#box-joc {
  flex: 1;
  padding: 2vh;
}

#box-joc button {
  color: white;
  text-align: center;
  padding: 1vh;
  width: 100%;
  border: 4px solid white;
  border-radius: 3vw;
  background-color: #d32f2f;
}

.contenidor-titolarticle {
  display: flex;
  width:60%;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  flex-flow: wrap;
}

.contenidor-titolarticle > h1 {
  font-size: 4vw;
  color: white;
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: auto;
}

.contenidor-bottompage {
  padding-bottom: 5vw;
  display: flex;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  flex-flow: wrap;
}

.h1bottom {
  font-style: normal;
  font-weight: bold;
  margin-top:  2vw;
  margin-left: auto;
  margin-right: auto;
  line-height: 14px;
  min-width: 150px;
  text-align: center;
  vertical-align: middle;
  padding: 1vw;
  text-transform: uppercase;
  transition: all .15s ease;
  font-size: 2vw;
  border-radius: 25px;
}

.h1bottom:hover {
  background-color: white;
  color: #d32f2f;
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #d32f2f;
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-4px);
}

.contenidor-middle {
  display: flex;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  flex-flow: wrap;
}

.divBoton {
  width: 15vw;
  height: 15vw;
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: auto;
  border: 7px solid black;
  background-color: white;
}

.divBoton > h2 {
  margin-top: 3vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: auto;
  font-size: 6vw;
}

a {
  color: #212529;
  text-decoration: none;
}

a:hover {
  color: #d32f2f;
}
