<title>Login / The Ol'Tankard</title>

<body>

  <div class="section">

    <div class="container card mt-2">
      <div class="row card-container">
        <div class="col-md-6 mt-5">
          <div class="info info-horizontal info-hover-primary">
            <div class="description pl-4">

              <form action="/character-viewer" onsubmit="return false">

                <h5 class="title">Login</h5>
                <div class="form-group">
                  <label for="login-email">Email address</label>
                  <input type="email" class="form-control" id="login-email" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="login-password">Password</label>
                  <input type="password" class="form-control" id="login-password" placeholder="Password">
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="login-check" name="login-check">
                  <label class="custom-control-label mb-3" for="login-check">Remember my password</label>
                </div>

                <button type="submit" class="btn btn-lg btn-main btn-icon mb-3 mb-sm-0" (click)="successAlert()">Login</button>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>
