<nav class="navbar navbar-sticky navbar-expand-lg">

  <div class="container">

    <a href="/home" class="navbar-brand mr-lg-5">
      <img src="../assets/img/logo_red.png" alt="">
    </a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar_global">

      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">

        <li class="nav-item dropdown">
          <a href="home/#about" class="nav-link">
            <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner--text">About</span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a href="/mainmenu" class="nav-link">
            <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Menu</span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a href="https://theoltankardshop.sergilo.es/tienda" class="nav-link">
            <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Store</span>
          </a>
        </li>

      </ul>

      <ul class="navbar-nav align-items-lg-center ml-lg-auto">

        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a href="/login" class="nav-link">
            <span class="nav-link-inner--text">Login</span>
          </a>
        </li>

        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a href="/register" class="nav-link">
            <span class="nav-link-inner--text">Register</span>
          </a>
        </li>

      </ul>

    </div>

  </div>

</nav>

<router-outlet></router-outlet>

<footer>

  <div class="footer py-5 text-center">

    <div class="container">

      <div class="row mb-5">
        <div class="col-12">
          <p class="mb-0">
            <a href="https://www.instagram.com/" class="p-3" title="Instagram">
              <span class="icon-footer"><i class="fab fa-instagram"></i></span>
            </a>
            <a href="https://twitter.com/" class="p-3" title="Twitter">
              <span class="icon-footer"><i class="fab fa-twitter"></i></span>
            </a>
            <a href="https://gitlab.com/" class="p-3" title="GitLab">
              <span class="icon-footer"><i class="fab fa-gitlab"></i></span>
            </a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p class="mb-0">Copyright ©2020 All rights reserved</p>
        </div>
      </div>

    </div>

  </div>

</footer>
