/* NAVBAR */

.navbar {
  position: relative;
  padding: 1rem;
}

.navbar,
.navbar>.container,
.navbar>.container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-transparent {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent !important;
  border: 0;
  box-shadow: none;
}

.navbar-brand {
  font-weight: 600;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: .05px;
}

.navbar-brand img {
  height: 50px;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
  display: inline-block;
  position: relative;
}

@media (min-width: 768px) {

  .navbar { height: 88px; }
  .navbar-transparent .navbar-brand,
  .navbar-transparent .navbar-brand:focus,
  .navbar-transparent .navbar-brand:hover {
      color: hsla(0, 0%, 100%, .95);
  }

  .navbar-transparent .navbar-nav .nav-link {
      color: hsla(0, 0%, 100%, .95);
  }

  .navbar-sticky .navbar-nav .nav-link {
      color: #d32f2f;
      font-weight: 600;
  }

  .navbar-transparent .navbar-nav .nav-link:focus,
  .navbar-transparent .navbar-nav .nav-link:hover {
      color: hsla(0, 0%, 100%, .65);
  }
}

@media (min-width: 992px) {

  .navbar-expand-lg {
      flex-flow: row nowrap;
      justify-content: flex-start;
  }

  .navbar-expand-lg>.container,
  .navbar-expand-lg>.container-fluid {
      flex-wrap: nowrap;
  }

  .navbar-nav .nav-item {
      margin-right: .5rem;
  }

  .navbar-nav .nav-link i {
      margin-right: .625rem;
  }

  .navbar-expand-lg .navbar-toggler {
      display: none;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
  }

  .navbar-nav .nav-link {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-radius: .25rem;
  }

}

.nav-link i:not(.fa) {
  position: relative;
  top: 2px;
}

.navbar-nav .nav-link {
  font-size: .9rem;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  text-transform: normal;
  letter-spacing: 0;
  transition: all .15s linear;
}

.navbar-nav .nav-link .nav-link-inner--text {
  margin-left: .25rem;
}

.main-nav {
  will-change: transform;
  background-color: inherit;
  transition: all .15s ease;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, .5);
  border-color: transparent;
}

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, .5)
}

.navbar-light .navbar-text a,
.navbar-light .navbar-text a:focus,
.navbar-light .navbar-text a:hover {
  color: rgba(0, 0, 0, .9)
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-transparent .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-toggler {
  color: #fff;
}

.navbar-sticky {
position: fixed;
background-color: #fff;
width: 100%;
top: 0;
left: 0;
right: 0;
margin: auto;
transition: all 0.3s ease-in;
z-index: 99;
opacity: 1;
padding: 0 30px;
box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
height: 70px;
}
.navbar-sticky::after {
  display: none;
}
.navbar-sticky .nav-link::after {
  bottom: -1rem;
}

.navbar span:hover,
.navbar span:active,
.navbar span:focus {
  color: #b71c1c;
}

.navbar-sticky.invisible {
  top: -70px;
  opacity: 0;
  transition: all 0.3s ease-in;
}

/* FOOTER */

footer {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #2E2E2E;
}

.icon-footer {
  color: #d32f2f ;
}

.icon-footer:hover {
  color: #b71c1c;
}
