<body>
<div class="contenidor-titolarticle">
  <h1>Monster update</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-4 tamañoimagen">
      <img src="../../../assets/img/monster3.png" alt="player" class="tamañoimagen">
    </div>
    <div class="col-4 formulari">
      <form (ngSubmit)="onSubmit()">
        <fieldset>
          <label for="name">Name</label>
          <input placeholder="Name" required type="text" class="form-control" id="name" required [(ngModel)]="monsters.name" name="name">
        </fieldset>

        <fieldset>
          <label for="description">Description</label>
          <input placeholder="Description" required   type="text" class="form-control" id="description" required [(ngModel)]="monsters.description" name="description">
        </fieldset>

        <fieldset>
          <label for="armor-class">Armor class</label>
          <input placeholder="Armor Class" required  type="number" class="form-control" id="armor_class" required [(ngModel)]="monsters.armorClass" name="armor_class">
        </fieldset>

        <fieldset>
          <label for="hit_points">Hit points</label>
          <input placeholder="Hit Points" required  type="number" class="form-control" id="hit_points" required [(ngModel)]="monsters.hitPoints" name="hit_points">
        </fieldset>

        <fieldset>
          <label for="attack">Attack</label>
          <input placeholder="Attack" required  type="text" class="form-control" id="attack" required [(ngModel)]="monsters.attack" name="attack">
        </fieldset>

        <fieldset>
          <label for="speed">Speed</label>
          <input placeholder="Speed" required  type="number" class="form-control" id="speed" required [(ngModel)]="monsters.speed" name="speed">
        </fieldset>
      </form>
      </div>
      <div class="col-4 formulari formulariright">
        <form (ngSubmit)="onSubmit()">
        <fieldset>
          <label for="str">Strength</label>
          <input placeholder="Strength" required  type="number" class="form-control" id="str" required [(ngModel)]="monsters.str" name="str">
        </fieldset>

        <fieldset>
          <label for="dex">Dexterity</label>
          <input placeholder="Dexterity" required  type="number" class="form-control" id="dex" required [(ngModel)]="monsters.dex" name="dex">
        </fieldset>

        <fieldset>
          <label for="con">Constitution</label>
          <input placeholder="Constitution" required  type="number" class="form-control" id="con" required [(ngModel)]="monsters.con" name="con">
        </fieldset>

        <fieldset>
          <label for="inte">Intellect</label>
          <input placeholder="Intellect" required  type="number" class="form-control" id="inte" required [(ngModel)]="monsters.inte" name="inte">
        </fieldset>

        <fieldset>
          <label for="wis">Wisdom</label>
          <input placeholder="Wisdom" required  type="number" class="form-control" id="wis" required [(ngModel)]="monsters.wis" name="wis">
        </fieldset>

        <fieldset>
          <label for="cha">Charisma</label>
          <input placeholder="Charisma" required  type="number" class="form-control" id="cha" required [(ngModel)]="monsters.cha" name="cha">
        </fieldset>
        <button type="submit" class="btn btn-danger" (click)="showMessage()">Update</button>

      </form>
    </div>
  </div>
</div>
<div (click)="gotoList()" class="contenidor-bottompage">
  <h1 class="h1bottom">Back</h1>
</div>
</body>
