<title>Character Builder / The Ol'Tankard</title>

<body>

  <div class="section">
  <form (ngSubmit)="onSubmit()">
    <div class="container card mt-2">
      <div class="row card-container">
        <div class="col-md-5 mt-5 text-center">
          <img src="../../assets/img/dragonborn_render.png" id="race-render" alt="">
        </div>
        <div class="col-md-7 mt-5">
            <div class="info info-horizontal info-hover-primary">
                <div class="description pl-4">
                  <h5 class="title">Races</h5>
                  <h6 id="race-name">Dragonborn</h6>
                  <p id="race-description">Born of dragons, as their name proclaims, the dragonborn walk proudly through a world that greets them with fearful incomprehension. Shaped by draconic gods or the dragons themselves, dragonborn originally hatched from dragon eggs as a unique race, combining the best attributes of dragons and humanoids.</p>
                </div>
                <div class="form-group">
                  <label for="race">Choose An Option</label>
                  <select class="form-control" id="race" name="race" [(ngModel)]="character.race">
                    <option>Dragornborn</option>
                    <option>Dwarf</option>
                    <option>Elf</option>
                    <option>Gnome</option>
                    <option>Half-Elf</option>
                    <option>Halfling</option>
                    <option>Half-Orc</option>
                    <option>Human</option>
                    <option>Tiefling</option>
                  </select>
                </div>
                <div class="row text-center mb-5 mt-5">
                  <div class="col-md-4">
                    <img src="../../assets/img/dragonborn_banner.jpg" id="race-1" class="race-banner" alt="" (click)="activeRace(1)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/dwarf_banner.png" id="race-2" class="race-banner" alt="" (click)="activeRace(2)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/elf_banner.jpg" id="race-3" class="race-banner" alt="" (click)="activeRace(3)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/gnome_banner.png" id="race-4" class="race-banner" alt="" (click)="activeRace(4)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/halfelf_banner.jpg" id="race-5" class="race-banner" alt="" (click)="activeRace(5)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/halfling_banner.jpg" id="race-6" class="race-banner" alt="" (click)="activeRace(6)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/halforc_banner.png" id="race-7" class="race-banner" alt="" (click)="activeRace(7)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/human_banner.png" id="race-8" class="race-banner" alt="" (click)="activeRace(8)">
                  </div>
                  <div class="col-md-4">
                    <img src="../../assets/img/tiefling_banner.jpg" id="race-9" class="race-banner" alt="" (click)="activeRace(9)">
                  </div>
                </div>
            </div>
        </div>

      </div>
    </div>

    <div class="container card mt-5">
      <div class="row card-container">
        <div class="col-md-6 mt-5">
            <div class="info info-horizontal info-hover-primary">
                <div class="description pl-4">
                  <h5 class="title">Classes</h5>
                  <h6 id="class-name">Barbarian</h6>
                  <p id="class-description">These barbarians, different as they might be, are defined by their rage: unbridled, unquenchable, and unthinking fury. More than a mere emotion, their anger is the ferocity of a cornered predator, the unrelenting assault of a storm, the churning turmoil of the sea.</p>
                </div>
                <div class="form-group">
                  <label for="clase">Choose An Option</label>
                  <select class="form-control" id="clase" name="clase" [(ngModel)]="character.clase">
                    <option>Barbarian</option>
                    <option>Bard</option>
                    <option>Cleric</option>
                    <option>Druid</option>
                    <option>Fighter</option>
                    <option>Monk</option>
                    <option>Paladin</option>
                    <option>Ranger</option>
                    <option>Rogue</option>
                    <option>Sorcerer</option>
                    <option>Warlock</option>
                    <option>Wizard</option>
                  </select>
                </div>
                <div class="row text-center mb-5 mt-5">
                  <div class="col-md-3">
                    <img src="../../assets/img/barbarian_icon.jpeg" id="class-1" class="class-icon" alt="" (click)="activeClass(1)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/bard_icon.jpeg" id="class-2" class="class-icon" alt="" (click)="activeClass(2)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/cleric_icon.jpeg" id="class-3" class="class-icon" alt="" (click)="activeClass(3)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/druid_icon.jpeg" id="class-4" class="class-icon" alt="" (click)="activeClass(4)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/fighter_icon.jpeg" id="class-5" class="class-icon" alt="" (click)="activeClass(5)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/monk_icon.jpeg" id="class-6" class="class-icon" alt="" (click)="activeClass(6)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/paladin_icon.jpeg" id="class-7" class="class-icon" alt="" (click)="activeClass(7)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/ranger_icon.jpeg" id="class-8" class="class-icon" alt="" (click)="activeClass(8)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/rogue_icon.jpeg" id="class-9" class="class-icon" alt="" (click)="activeClass(9)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/sorcerer_icon.jpeg" id="class-10" class="class-icon" alt="" (click)="activeClass(10)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/warlock_icon.jpeg" id="class-11" class="class-icon" alt="" (click)="activeClass(11)">
                  </div>
                  <div class="col-md-3">
                    <img src="../../assets/img/wizard_icon.jpeg" id="class-12" class="class-icon" alt="" (click)="activeClass(12)">
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5 text-center">
          <img src="../../assets/img/barbarian_render.png" id="class-render" alt="">
        </div>
      </div>
    </div>

    <div class="container card mt-5">
      <div class="row card-container">
        <div class="col-md-6 mt-5">
          <div class="info info-horizontal info-hover-primary">
            <div class="description pl-4">
                <h5 class="title">Ability Sores</h5>
                <div class="form-row mb-3">
                  <div class="col">
                    <label for="strength">Strength</label>
                    <input type="number" class="form-control" id="str" name="str" placeholder="8" max="18" [(ngModel)]="character.str">
                  </div>
                  <div class="col">
                    <label for="dexterity">Dexterity</label>
                    <input type="number" class="form-control" id="dex" name="dex" placeholder="13" max="18" [(ngModel)]="character.dex">
                  </div>
                  <div class="col">
                    <label for="constitution">Constitution</label>
                    <input type="number" class="form-control" id="con" name="con" placeholder="14" max="18" [(ngModel)]="character.con">
                  </div>
                </div>
                <div class="form-row mb-3">
                  <div class="col">
                    <label for="intelligence">Intelligence</label>
                    <input type="number" class="form-control" id="inte" name="inte" placeholder="15" max="18" [(ngModel)]="character.inte">
                  </div>
                  <div class="col">
                    <label for="wisdom">Wisdom</label>
                    <input type="number" class="form-control" id="wis" name="wis" placeholder="12" max="18" [(ngModel)]="character.wis">
                  </div>
                  <div class="col">
                    <label for="charisma">Charisma</label>
                    <input type="number" class="form-control" id="cha" name="cha" placeholder="10" max="18" [(ngModel)]="character.cha">
                  </div>
                </div>

                <h5 class="title">Character Details</h5>
                <div class="form-group">
                  <label for="character-name">Character Name</label>
                  <input type="text" class="form-control" id="character-name" placeholder="Caleb Widogast" name="name" [(ngModel)]="character.name">
                </div>

                <div class="form-group">
                  <label for="character-name">HP</label>
                  <input type="number" class="form-control" id="HP" placeholder="12" max="18" name="hp" [(ngModel)]="character.hp">
                </div>

                <div class="form-group">
                  <label for="alignment">Alignment</label>
                  <select class="form-control" id="alignment" name="aligment" [(ngModel)]="character.alignment">
                    <option>-- Choose an Option --</option>
                    <option>Chaotic Evil</option>
                    <option>Chaotic Good</option>
                    <option>Chaotic Neutral</option>
                    <option>Lawful Evil</option>
                    <option>Lawful Good</option>
                    <option>Lawful Neutral</option>
                    <option>Neutral</option>
                    <option>Neutral Evil</option>
                    <option>Neutral Good</option>
                  </select>
                </div>

                <h5 class="title">Physical Characteristics</h5>
                <div class="form-group">
                  <label for="height">Height (Cm)</label>
                  <input type="text" class="form-control" id="height" placeholder="180" name="size" [(ngModel)]="character.size">
                </div>

                <div class="form-group">
                  <label for="age">Age (years)</label>
                  <input type="number" class="form-control" id="age" placeholder="33" name="age" [(ngModel)]="character.age">
                </div>

                <h5 class="title">Notes</h5>
                <div class="form-group">
                  <label for="backstory">Backstory</label>
                  <textarea class="form-control" id="backstory" rows="3" name="background" [(ngModel)]="character.background"></textarea>
                </div>

                <a href="/character-creation" class="btn btn-lg btn-main btn-icon mb-3 mb-sm-0">
                  <div class="btn-inner--text">Back</div>
                </a>
                <button type="submit" class="btn btn-lg btn-main btn-icon mb-3 mb-sm-0" (click)="successAlert()">Submit</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>

</body>
