/* Main menu / Containers */


* {
  box-sizing: border-box;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

body {
  background-color: #d32f2f;
}

.column1 {
  position: relative;
  margin-top: 6vw;
  margin-bottom: 2vw;
  width: 40%;
  height: 40%;
  background-color: indianred;
  border-radius: 25px;
}

.column1 > div {
color: #b71c1c;
visibility: visible;
}

.column2 {
  position: relative;
  margin-top: 6vw;
  margin-bottom: 2vw;
  margin-left: 2vw;
  width: 40%;
  background-color: indianred;
  border-radius: 25px;
}

.column2 > div {
  color: #b71c1c;
  visibility: visible;
  }

.centered {
  font-size: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Sintony', sans-serif;
  visibility: hidden;
}

img {
  filter: brightness(25%);
}

 .row {
  justify-content: center;
 }

#notselectable {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

  a {
    color: #d32f2f;
    text-decoration: none;
  }

  a:hover {
    color: white;
    border-radius: 25px;
  }
