<title>Character Viewer / The Ol'Tankard</title>

<body>

  <div class="section">
    <div class="container card mt-2">
      <div class="row card-container">
        <div class="col mt-5">
          <div class="info info-horizontal info-hover-primary">
            <div class="description pl-4">

              <h5 class="title">Characters</h5>
              <div *ngFor="let character of character | async">
              <div class="container card mt-3">
                <div class="row row-card-container">
                  <div class="col mt-3">
                      <div class="info info-horizontal info-hover-primary">
                          <div class="description pl-3">
                            <div class="row">
                              <div class="col-md-3">
                                <img src="../../assets/img/{{character.img}}" class="class-icon" alt="">
                              </div>
                              <div class="col-md-9">
                                <h5 class="title">{{character.name}}</h5>
                                <p><span>STR:</span> {{character.str}}&emsp;<span>DEX:</span> {{character.dex}}&emsp;<span>CON:</span> {{character.con}}&emsp;<span>INT:</span> {{character.inte}}&emsp;<span>WIS:</span> {{character.wis}}&emsp;<span>CHA:</span> {{character.cha}}</p>
                                <div class="row">
                                  <div class="col-md-6">
                                    <p><span>Alignment:</span> {{character.alignment}}</p>
                                  </div>
                                  <div class="col-md-6">
                                    <p><span>Height (cm):</span> {{character.size}}</p>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <p><span>Age (Years):</span> {{character.age}}</p>
                                  </div>
                                </div>
                                <button (click)="confirmacionDelete(character.id)" class="btn btn-danger">Delete</button>
                                <button (click)="updateCharacter(character.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                                <button (click)="gotoSheet(character.id)" class="btn btn-success" style="margin-left: 10px">Sheet</button>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>

              <a href="/character-creation">
                <div class="container card mt-3 mb-5">
                  <div class="row row-card-container">
                    <div class="col mt-3">
                        <div class="info info-horizontal info-hover-primary">
                            <div class="description pl-4">
                              <h5 class="title">Create new character</h5>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </a>
              <a href="/menuprincipal-player" class="btn btn-lg btn-main btn-icon mb-3 mb-sm-0">
                <div class="btn-inner--text">Back</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
