<body>
<div class="contenidor-titolarticle">
  <h1>Notes Editor</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col formulari">
      <form (ngSubmit)="onSubmit()">
        <fieldset>
          <label for="name">Title</label>
          <input placeholder="Name" required type="text" class="form-control" id="name" required [(ngModel)]="notesJugador.name" name="name">
        </fieldset>

        <fieldset>
          <label for="text">Text</label>
          <textarea class="form-control" required [(ngModel)]="notesJugador.text" id="text" name="text" rows="3"></textarea>
        </fieldset>

        <button type="submit" class="btn btn-danger" (click)="showMessage()">Update</button>
      </form>
    </div>
  </div>
</div>
<div (click)="gotoList()" class="contenidor-bottompage">
  <h1 class="h1bottom">Back</h1>
</div>
</body>
