<body>
  <div class="contenidor-titolarticle">
    <h1>Character update</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4 tamañoimagen">
        <img src="../../../assets/img/monster3.png" alt="player" class="tamañoimagen">
      </div>
      <div class="col-4 formulari">
        <form (ngSubmit)="onSubmit()">
          <fieldset>
            <label for="name">Name</label>
            <input placeholder="Name" required type="text" class="form-control" id="name" required [(ngModel)]="character.name" name="name">
          </fieldset>

          <fieldset>
            <label for="hp">HP</label>
            <input placeholder="hp" required   type="text" class="form-control" id="hp" required [(ngModel)]="character.hp" name="hp">
          </fieldset>

          <fieldset>
            <label for="clase">Class</label>
            <input placeholder="clase" required  type="text" class="form-control" id="clase" required [(ngModel)]="character.clase" name="clase">
          </fieldset>

          <fieldset>
            <label for="subclass">Subclass</label>
            <input placeholder="subclass" required  type="text" class="form-control" id="subclass" required [(ngModel)]="character.subclass" name="subclass">
          </fieldset>

          <fieldset>
            <label for="race">Race</label>
            <input placeholder="race" required  type="text" class="form-control" id="race" required [(ngModel)]="character.race" name="race">
          </fieldset>

          <fieldset>
            <label for="alignment">Alignment</label>
            <select class="form-control" id="alignment" name="aligment" [(ngModel)]="character.alignment">
              <option>-- Choose an Option --</option>
              <option>Chaotic Evil</option>
              <option>Chaotic Good</option>
              <option>Chaotic Neutral</option>
              <option>Lawful Evil</option>
              <option>Lawful Good</option>
              <option>Lawful Neutral</option>
              <option>Neutral</option>
              <option>Neutral Evil</option>
              <option>Neutral Good</option>
            </select>
          </fieldset>
        </form>
        </div>
        <div class="col-4 formulari formulariright">
          <form (ngSubmit)="onSubmit()">
          <fieldset>
            <label for="str">Strength</label>
            <input placeholder="Strength" required  type="number" class="form-control" id="str" required [(ngModel)]="character.str" name="str">
          </fieldset>

          <fieldset>
            <label for="dex">Dexterity</label>
            <input placeholder="Dexterity" required  type="number" class="form-control" id="dex" required [(ngModel)]="character.dex" name="dex">
          </fieldset>

          <fieldset>
            <label for="con">Constitution</label>
            <input placeholder="Constitution" required  type="number" class="form-control" id="con" required [(ngModel)]="character.con" name="con">
          </fieldset>

          <fieldset>
            <label for="inte">Intellect</label>
            <input placeholder="Intellect" required  type="number" class="form-control" id="inte" required [(ngModel)]="character.inte" name="inte">
          </fieldset>

          <fieldset>
            <label for="wis">Wisdom</label>
            <input placeholder="Wisdom" required  type="number" class="form-control" id="wis" required [(ngModel)]="character.wis" name="wis">
          </fieldset>

          <fieldset>
            <label for="cha">Charisma</label>
            <input placeholder="Charisma" required  type="number" class="form-control" id="cha" required [(ngModel)]="character.cha" name="cha">
          </fieldset>
          <button type="submit" class="btn btn-danger" (click)="showMessage()">Update</button>

        </form>
      </div>
    </div>
  </div>
  <div (click)="gotoList()" class="contenidor-bottompage">
    <h1 class="h1bottom">Back</h1>
  </div>
  </body>
