<title>Home / The Ol'Tankard</title>

<div class="wrapper">

  <div class="section section-hero section-shaped">
      <div class="shape shape-style-1 shape-primary"></div>
      <div class="page-header">
          <div class="container shape-container d-flex align-items-center py-lg">
              <div class="col px-0">
                  <div class="row align-items-center justify-content-center">
                      <div class="col-lg-6 text-center">
                          <img src="../../assets/img/logo_white.png" class="logo img-fluid">
                          <div class="lead text-white"><p>Where your adventure begins</p></div>

                          <div class="btn-wrapper mt-5">
                              <a href="/register" class="btn btn-lg btn-white mb-3 mb-sm-0">
                                  <span class="btn-inner--text">Register</span>
                              </a>
                              <a href="/mainmenu" class="btn btn-lg btn-main btn-icon mb-3 mb-sm-0">
                                  <div class="btn-inner--text">Live Demo</div>
                              </a>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
      </div>
  </div>

  <div class="section">
      <div class="container">
          <div class="row">
              <div class="col-md-6 mb-5">
                  <div class="info info-horizontal info-hover-primary">
                      <div class="description pl-4">
                        <h5 id="about" class="title">About</h5>
                        <p>The Ol'Tankard is a toolset and game companion for Dungeons & Dragons fifth edition. TOK provides tools like a character builder and digital character sheet, and monster and spell listings that can be sorted and filtered.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                <img src="../../assets/img/about.jpg" class="rounded" alt="">
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 mb-5">
                <img src="../../assets/img/player.jpg" class="rounded" alt="">
              </div>
              <div class="description col-md-6 pl-4">
                <h5 id="player" class="title">Player</h5>
                <p>Create your own character with many of the different races, classes, and spells to choose from and manage your inventory and stat allocation.</p>
              </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-5">
                <div class="info info-horizontal info-hover-primary">
                    <div class="description pl-4">
                      <h5 id="dungeon-master" class="title">Dungeon Master</h5>
                      <p>Whether you're just starting or you already have some experience as a DM, here you'll find our monster creator and viewer, note handling, and a map maker ready to make the best out of your campaigns.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <img src="../../assets/img/dungeon_master.jpg" class="rounded" alt="">
            </div>
        </div>
      </div>
  </div>

</div>
